@import url('../shared/styles/wrappers.css');
@import url('../shared/styles/container.css');
@import url('../shared/styles/button.css');
@import url('../shared/styles/themes.css');
@import url('../shared/styles/font.css');
@import url('../shared/styles/icons.css');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
