.container {
  border-radius: var(--lid-radius-md);
  display: flex;
  flex-direction: row;
  height: 78vh;
  margin: 1.25rem;
  width: 35rem;
}

.floating-sidebar {
  background-color: var(--lid-gray-light);
  border-radius: var(--lid-radius-md) 0 0 var(--lid-radius-md);
  padding: 0.5rem;
  transition: all 0.25s ease;
  width: 8rem;
}

.floating-sidebar.close {
  border-radius: var(--lid-radius-md);
  transition: all 0.25s ease;
}

.floating-sidebar.close {
  border-radius: var(--lid-radius-md);
}

.floating-main {
  opacity: 0;
  transition: all 0.25s ease;
}

.floating-main.active {
  background-color: var(--lid-white);
  border-radius: 0 var(--lid-radius-md) var(--lid-radius-md) 0;
  display: block;
  flex: 1;
  opacity: 1;
  padding: 1.5rem;
}

.floating-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
