.search-panel {
  align-items: center;
  background-color: var(--lid-white);
  border-radius: 6px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  color: #000;
  display: flex;
  margin: 20px;
  overflow: hidden;
  transition: all 0.25s ease;
}

.open {
  opacity: 1;
  width: 35rem;
}

.closed {
  background-color: var(--lid-gray-light);
  opacity: 1;
  width: 8rem;
}

.closed .search-input {
  padding-right: 0;
  width: 0;
}

.search-input {
  border: none;
  flex: 1;
  font-size: 14px;
  outline: none;
  padding: 8px 20px;
  transition: all 0.2s ease;
}

.search-button {
  align-items: center;
  background-color: var(--lid-blue);
  border: none;
  color: #000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 8px 12px;
}

.search-button:hover {
  background-color: var(--lid-blue-dark);
}
