.button-outline {
  align-items: center;
  background-color: var(--primary-backgrund);
  border: 1px solid var(--primary-accent);
  color: var(--primary-accent);
  display: flex;
  flex-direction: row;
  font-size: 0.875rem;
  gap: 0.25rem;
  padding: 1rem;
  transition: all 0.25s ease-in-out;
}

.navbar-button {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.navbar-button:hover {
  color: var(--lid-blue);
}

.navbar-button-logout {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.navbar-button-logout:hover {
  color: var(--lid-red);
}
